.home_conteiner{
    width: 100%;
}

figure{
    width: 100%;
    margin-top: 1px;
}

.imagem{
    width: 100%;
    height: 100%;
}


.main_conteiner{
    height: 80px;
    width: 100%;
    margin: 5px 0;
    line-height: 70px;

}

.main_conteiner>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_conteiner>ul>li{
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.img_grid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_left{
    position: relative;
    left: 9%;
}


.img_center{
    margin-top: 4px;
    margin-right: 10px;
}


.product_conteiner{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.product_conteiner>h2{
    font-size: 1.5em;
    position: relative;
    left: 65px;
    width: 23%;
    margin-bottom: 25px;
}

.produtos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.produto>a>img{
    height: 30vh;
    background-color: #fff;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.produto>label{
    font-size: 15px;
    margin-top: 5px;
    cursor: text;
}

.produto>span{
    cursor: text;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #687e00;

}
