.buybutton{
    text-decoration: none;
    background-color: #eb4c4c;
    color: #fff;
    padding: 10px 20px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
    border: none;

}

.buybutton:hover{
    background-color: #222;
}